
.home-header {
    position: relative;
    top: 15vh;
    margin: 0 10vw;
    text-align: center;
}

.flex {display: flex;}
.center {justify-content: center;}
.space-around {justify-content: space-around;}
.flex-row {flex-direction: row;}
.flex-column {flex-direction: column;}

.ul-flex-center {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.li-center {
    justify-content: center;
}

.header-init {
    color: var(--primary-hover);
}

.button-cust {
    padding: .1rem .06rem;
    margin: 0.3rem 0.2rem;
}

.img-container {
    width : 300px;
    height: 300px;
    margin: auto;
}

.list-container {
    padding: auto;
}

br {
    margin: 1rem;
}

@media screen and (max-width: 600px) {
    .home-header{
        top: 10vh;
        margin: 0 5vw;
    }
}