    .main {
        padding: 1.5rem;
    }

    .main-product-count {
        padding: 0.2rem 0.5rem;
    }

    .product-container {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1rem;
        justify-content: space-evenly;
    }

    .card-vertical {
        margin: 0;
        width: 15rem;
        min-width: 12rem;
        padding: 0.5rem;
    }

    .card__primary-action-vertical {
        margin: 0;
    }

    .card-badge-vertical {
        color: inherit;
        border-radius: 50%;
        padding: 0.2rem;
        border: 1px solid var(--gray-300);
        cursor: pointer;
    }

    .card-badge-vertical:hover {
        color: var(--danger);
        background-color: inherit;
    }

    .card__media-column-vertical {
        padding: 1.5rem;
        width: inherit;
    }

    .card__secondary-vertical {
        padding-bottom: 0;
    }