/*-------Avatar.css-------*/
  
  .avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .avatar {
    overflow: hidden;
  }
  

  /*   Avatar size    */
  .avatar-xs {
    width: 2rem;
    height: 2rem;
  }
  
  .avatar-s {
    width: 2.5rem;
    height: 2.5rem;
  }
  
  .avatar-m {
    width: 3rem;
    height: 3rem;
  }
  
  .avatar-l {
    width: 3.5rem;
    height: 3.5rem;
  }
  
  .avatar-xl {
    width: 4rem;
    height: 4rem;
  }
  

 /*   Avatar Round    */

  .avatar-rd {
    border-radius: 50%;
  }

 /*   Avatar Border    */
  
  .border-dark {
    border: 3px solid #000;
  }
  
  .border-warning {
    border: 3px solid yellow;
  }
  
  .border-success {
    border: 3px solid green;
  }
  
  .border-danger {
    border: 3px solid red;
  }
  
  .border-info {
    border: 3px solid blue;
  }
  
  .border-white {
    border: 3px solid #fff;
  }
