
.button-container {
  display: flex;
  flex-wrap: wrap;
}

a {
    text-decoration: none;
    font-size: inherit;
}
  
.link {
    color: inherit;
    background-color: inherit;
}
  
.link:hover {
    text-decoration: underline;
}

button {
 font-size: inherit;
 border: none;
 outline: none;
 cursor: pointer;
}

.button {
    position: relative;
    padding: 0.5rem 2rem;
    margin: 0.5rem;
}

.button-header {
    font-size: 70%;
    width: 6rem;
}

.button-white {
    color: var(--primary-color);
    background-color: var(--primary-hover);
}

.button-white:hover {
    background-color: var(--secondary-hover);
}

.button-dark {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.button-dark:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.button-primary {
  color: var(--primary-color);
  background-color: var(--primary);
}

.button-primary:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 2px solid var(--primary);
}

.button-secondary {
  color: var(--primary);
  background-color: var(--primary-color);
  border : 2px solid var(--primary);
}

.button-secondary:hover {
  color: var(--primary-color);
  background-color: var(--secondary-hover);
  border: 2px solid var(--primary);
}

.icon {
  position: relative;
  font-size: 1.5rem;
  top: 5px;
  right: 5px;
}

.icon-ctr {
  position: relative;
  font-size: 1.5rem;
  top: 2px;
}

.button-disable {
  opacity: 0.5;
}

.button-danger {
  color: var(--primary-color);
  background-color: var(--danger);
  border: 2px solid var(--danger);
}

.button-danger:hover {
  color: var(--danger);
  background-color: var(--primary-color);
}

.button-success {
  color: var(--primary-color);
  background-color: var(--success);
  border: 2px solid var(--success);
}

.button-success:hover {
  color: var(--success);
  background-color: var(--primary-color);
}


.button-info {
  color: var(--primary-color);
  background-color: var(--info);
  border: 2px solid var(--info);
}

.button-info:hover {
  color: var(--info);
  background-color: var(--primary-color);
}

.button-icon {
  width: 50px;
  height: 50px;
}

.button-round {
  border-radius: 50%;
}

@media screen and (max-width: 800px) {
    .button-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
}