
.doc-container {
    margin-left: 200px;
    height: max-content;
    padding: 1rem;
    border-left: 2px solid var(--secondary-color);
}

code {
    padding: .1rem .5rem;
    width: 90%;
    margin: auto;
    font-size: 100%;
    white-space: nowrap;
    background: inherit;
    border: 1px solid var(--secondary-color);
    border-radius: 4px; 
    overflow-y: auto;
    overflow-x: scroll;
    }

pre > code {
    display: block;
    padding: 0.5rem 0.5rem;
    white-space: pre; 
}

@media screen and (max-width: 800px) {
    .doc-container {
        margin: 2rem 0;
        border-left: none;
    }

    code {
        width: 100%;
        font-size: 100%;
    }

    pre > code {
        padding: auto;
    }
}