
.form-action{
  padding: 2rem 1rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  background-color: var(--gray-100);
  width: 90vmin;
  height: fit-content;
}

.input-label {
  color: var(--secondary-color);
  font-weight: 600;
  margin: 10px 0 3px 0;
  font-size: inherit;
}

.input-action{
  margin: 5px 0 1rem 0; 
  padding: 0.5rem;
  width: 100%;
}

.input-danger {
  color: var(--danger);
}

.border-danger{
  border: 2px solid var(--danger-bg);}

.input-success {
  color: var(--success);
}

.border-success{
  border: 2px solid var(--success-bg);
}