.sidebar-nav {
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar-nav-contain {
    padding: 0;
}

.sidebar-nav-list li {
    margin: 0;
    padding: 0;
}

.sidebar-nav-list a {
    display: block;
    font-size: inherit;
    padding: 0.5rem;
}

.sidebar-nav-list a:active {
    background-color: var(--primary-hover);
    color: var(--primary-color);
}

@media screen and (max-width: 800px) {
    .sidebar-nav {
        position: fixed;
        top: 0;
        width: 100%;
        height: auto;
        z-index: 10;
        background-color: var(--primary-color);
        border-bottom: 2px solid var(--secondary-color);
    }
    .sidebar-nav-contain {
        display: flex;
    }
}
  